<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Cloud</title>

    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

    <h1>Crea il tuo taco!</h1>

    <img th:src="@{/images/taco.png}" />

    <form method="POST" th:object="${taco}">

        <div class="grid">

            <div class="ingredient-group" id="wraps">
                <h3>Scegli la tua tortilla:</h3>

                <div th:each="ingredient : ${wrap}">
                    <input
                        type="checkbox"
                        th:field="*{ingredients}"
                        th:value="${ingredient.id}" />

                    <span th:text="${ingredient.name}">
                        INGREDIENTE
                    </span>

                    <br />
                </div>
            </div>


            <div class="ingredient-group" id="proteins">
                <h3>Scegli la tua proteina:</h3>

                <div th:each="ingredient : ${protein}">
                    <input
                        type="checkbox"
                        th:field="*{ingredients}"
                        th:value="${ingredient.id}" />

                    <span th:text="${ingredient.name}">
                        INGREDIENTE
                    </span>

                    <br />
                </div>
            </div>


            <div class="ingredient-group" id="cheeses">
                <h3>Scegli il tuo formaggio:</h3>

                <div th:each="ingredient : ${cheese}">
                    <input
                        type="checkbox"
                        th:field="*{ingredients}"
                        th:value="${ingredient.id}" />

                    <span th:text="${ingredient.name}">
                        INGREDIENTE
                    </span>

                    <br />
                </div>
            </div>


            <div class="ingredient-group" id="veggies">
                <h3>Scegli le verdure:</h3>

                <div th:each="ingredient : ${veggies}">
                    <input
                        type="checkbox"
                        th:field="*{ingredients}"
                        th:value="${ingredient.id}" />

                    <span th:text="${ingredient.name}">
                        INGREDIENTE
                    </span>

                    <br />
                </div>
            </div>


            <div class="ingredient-group" id="sauces">
                <h3>Scegli la tua salsa:</h3>

                <div th:each="ingredient : ${sauce}">
                    <input
                        type="checkbox"
                        th:field="*{ingredients}"
                        th:value="${ingredient.id}" />

                    <span th:text="${ingredient.name}">
                        INGREDIENTE
                    </span>

                    <br />
                </div>
            </div>

        </div>


        <div>

            <h3>Assegna un nome alla tua creazione di taco:</h3>

            <input type="text" th:field="*{name}" />

            <br />

            <button>Invia il tuo taco</button>

        </div>

    </form>

</body>
</html>